#root {
  text-align: center;
  padding: 4rem;
  width: 100%;
  position: relative;
}

#player {
  border: 0.35rem solid rgba(255, 255, 255, 0.87);
  border-radius: 0.25rem;
  padding: 2rem;
  max-width: 920px;
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#second-row {
  display: flex;
  justify-content: space-between;
}

.modal-overlay {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 100%;
  max-width: 500px;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  background-color: #9B111E;
  color: white;
  z-index: 2;
  border-radius: 1rem;
  border: 0.75rem solid #ffffff;
  padding: 2rem;
  flex-direction: column;
  gap: 0.25rem;

  h1 {
    font-size: 4rem;
    text-align: left;
    margin: 0;
  }
}

.button {
  border: 0.25rem solid #ffffff;
  border-radius: 0.15rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: transparent;
  color: #ffffff;
  max-width: 14rem;
  width: 100%;
  /* height: 3rem; */
  box-shadow: -0.25rem 0.25rem 1px #4e4e4e;
  font-size: 2rem;

  &:active {
    transform: translate(-0.25rem, 0.25rem);
    box-shadow: none;
  }
}

.button.confirm {
  background-color: #0f90cc;
}

.button-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}