#root {
  text-align: center;
  padding: 4rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

#player {
  border: 1px solid #FFFFFF;
  padding: 1.5rem;
  max-width: 920px;
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
