button {
  background: transparent;
  padding: 0;
  border: none;

  &:hover {
    border: none;
    padding: 0;
  }
}

#seeker-container, #volume-container {
  display: flex;
  column-gap: 0.25rem;
  align-items: center
}