.slider, .slider::-webkit-slider-runnable-track, .slider::-moz-range-progress, .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.slider {
  outline: none;
  background: transparent;
  border: 0.15rem solid rgba(255, 255, 255, 0.87);
  border-radius: 0.125rem;
  height: 0.5rem;
  cursor: pointer
}

.slider::-webkit-slider-runnable-track, .slider::-moz-range-progress {
  background: #ffffff;
  height: 100%;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  width: 0px;
  height: 0px;
  border: none;
}