#root {}

.song-card {
  --card-width: 10rem;
  --border-radius: 1rem;
  width: var(--card-width);
  height: calc(1.2 * var(--card-width));
  border: 1px solid #FFFFFF;
  border-radius: var(--border-radius);
  background-image: url('./assets/Zaes_Room.png');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;

  &::after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: block;
    border-radius: var(--border-radius);
    background: linear-gradient(transparent, black);
    transition: all 0.5s;
    z-index: 1
  }

  & > span {
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
}

.song-card:hover {
  transform: scale(1.1);

  &::after {
    opacity: 1;
  }
}



#songs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem;
  width: 100%;
}